.app {
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 6px;
}

.app-header h4 {
  margin: 0;
}

.app-container {
  padding: 2em;
}

.app-container label {
  font-size: 1.2em;
  padding-right: 1em;
  color: #444;
}

.app-container a {
  text-decoration: none;
}

.app-container .form-group {
  margin-bottom: 2em;
}

.bold {
  font-weight: 700;
}
